/* Define custom font */
@font-face {
    font-family: 'Ubuntu Light';
    src: url('../fonts/ubuntu/Ubuntu-L.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light Italic';
    src: url('../fonts/ubuntu/Ubuntu-LI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/ubuntu/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Mono Bold';
    src: url('../fonts/ubuntu/UbuntuMono-B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Italic';
    src: url('../fonts/ubuntu/Ubuntu-RI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Bold';
    src: url('../fonts/ubuntu/Ubuntu-B.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Bold Italic';
    src: url('../fonts/ubuntu/Ubuntu-BI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../fonts/ubuntu/Ubuntu-C.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Th';
    src: url('../fonts/ubuntu/Ubuntu-Th.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
