{% extends 'base.html' %}

{% block title %}Add webtoon information{% endblock title %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            <label for="{{ form.title.id }}">{{ form.title.label }}</label>
            {{ form.title }}
            {% for error in form.title.errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>
        <div>
            <label for="{{ form.url.id }}">For English comics, enter the URL of the first episode. For Korean comics, enter the URL with episode list ascending (starting with 1)</label>
            {{ form.url }}
            {% for error in form.url.errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>
        <div>
            <label>{{ form.language.label }}</label>
            <div>
                {% for choice in form.language %}
                <label>
                    {{ choice() }} {{ choice.label }}
                </label>
                {% endfor %}
            </div>
            {% for error in form.language.errors %}
                <div style="color: red;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>
        <div>
            {{ form.cover_image.label }} {{ form.cover_image() }}
        </div>
        <br>
        <div>
            <button type="submit">{{ form.submit.label }}</button>
    </form>
{% endblock content %}
